<%- include("header") -%>
<h1>About me</h1>
<p>I am Sonaike Abdulhamid. I am a senior full stack developer with no experience, but  <br>
trust me, I am better than some senior developers with years of experience.
</p>


<%- include("footer")-%>